.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 30px;
  font-size: 20px;
  border-radius: 4px;
  border-color: rgba(255, 145, 0, 0.945);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 119, 255, 0.185);
    border-radius: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 750px;
}
